{% extends "base.html.twig" %}

{# View : Home Page index #}

{% block title %}Mélanie MORICE - Réalisations{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<p>Réalisations </p>

{% endblock %}