{% extends "base.html.twig" %}

{# View : Presentation Page index #}

{% block title %}Mélanie MORICE - Présentation{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<p>Présentation de moi</p>

{% endblock %}