{% extends "base.html.twig" %}

{# View : Presentation Page index #}

{% block title %}Mélanie MORICE - Photo{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="photo_build">

			<img class="build" src="{{ asset('build/images/travaux.png') }}"/>
			<h4 class="text-center">En travaux</h4>
			<h5>Prochainement :</h5>
			<ul>
				<li>Visionnage des photos</li>
				<li>Téléchargement des photos</li>
				<li>Album photo accessible uniquement sur mot de passe</li>
			</ul>
		</div>
	</div>
</div>




{% endblock %}