{% extends "base.html.twig" %}

{# View : Presentation Page index #}

{% block title %}Mélanie MORICE - Photo{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<p>Téléchargement des photos accessible par mdp ( peut être demander à cette adresse ou sur ma page facebook</p>

{% endblock %}