{% extends "base.html.twig" %}

{# View : Home Page index #}

{% block title %}Mélanie MORICE - Contact{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row" id="contact">
		<h2 class="text-center">Formulaire de contact</h2>
			<div class="form-contact">
				{{ form(contact_form) }}
			</div>
	</div>
</div>

{% endblock %}