{% extends "base.html.twig" %}

{# View : Home Page index #}

{% block title %}Mélanie MORICE - Contact{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}

<p>Formulaire de contact</p>

{% endblock %}